body {
    background: #f3f8ff;
    font-family: 'Emilys Candy', cursive;
}

.blurb h2 {
   color: #6927ff;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #6927ff;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: black;
}

#mainNavbar .nav-link:hover {
    color: #6927ff;
}

#mainNavbar .navbar-brand {
    color: #6927ff;
    font-size: 1.5rem;
}

.fa {

color: #6927ff;

}

#headingGroup span {
    color: #970690;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
    color: #970690;
}

.navbar.scrolled {
    background: #c6cfff;
    transition: background 500ms;
}

/*** Footer styling ***/

footer {
    margin-left: 25px;
    margin-right: 25px;
}

footer {
    text-align: center;
    border-top: 2px solid #6927ff;
}

footer p {
    font-size: 0.75em;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #6927ff;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}
